---
import index from "../../content/index.json";
import LogoBlock from "../Layout/LogoBlock.astro";
---

<LogoBlock>
  <div
    class="grid grid-cols-[200px_200px] auto-rows-1fr gap-5 place-content-center"
  >
    {
      index.audits.partners.map((partner) => (
        <img
          src={partner.image}
          alt={partner.altText}
          height="40"
          loading="lazy"
        />
      ))
    }
  </div>
</LogoBlock>
